.root {

}

.common-label {
    -fx-text-fill: #515151;
    -fx-font-family: "Microsoft YaHei";
}

#sidebar {
    -fx-background-color: #F7F8FA;
    -fx-border-color: #F0F0F0;
    -fx-border-width: 1;
}

#user-label:hover {
    -fx-text-fill: black;
    -fx-underline: true;
    -fx-font-size: 18;
}

#user-label:pressed {
    -fx-underline: true;
}

.selectable-text:hover {
    -fx-font-size: 18;
    -fx-text-fill: black;
    -fx-underline: true;
}