.root {
    -fx-background-color: transparent;
}

#menu-label {
    -fx-font-family: "Microsoft YaHei";
    -fx-font-weight: Bold;
    -fx-font-size: 24;
}

#menu-icon {
    -fx-image-rendering: smooth;
}