.root {
    -fx-font-family: "Microsoft YaHei UI";
    -fx-text-fill: #515151;
}

.pane{
    -fx-background-color: #FFFFFFff;
}

#shadow-pane {
    -fx-background-color: #00000055;
}

.close-button {
    -fx-background-color: transparent;
}

.close-button:hover {
    -fx-background-color: red;
}

.close-button:hover > .close-font {
    -fx-icon-color: #ffffff;
}

.selectable-text:hover {
    -fx-underline: true;
}

.common-button {
    -fx-font-weight: Bold;
    -fx-background-color: #0f4ad3;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15;
}

.common-button:hover {
    -fx-background-color: blue;
}

.field {
    -fx-background-color: #ffffff;
    -fx-border-color: #515151;
    -fx-border-width: 0.5;
    -fx-border-radius: 5;
    -fx-font-size: 16;
}

.field-small {
    -fx-background-color: #ffffff;
    -fx-border-color: #515151;
    -fx-border-width: 0.5;
    -fx-border-radius: 3;
    -fx-font-size: 12;
}

.bold-label {
    -fx-font-weight: Bold;
}

.title-label {
    -fx-text-fill: #515151;
    -fx-font-weight: Bold;
    -fx-font-size: 20;
}

.common-label{
    -fx-font-size: 16;
}

.inner-box {
    -fx-background-color: #F6F7F8;
    -fx-background-radius: 10px;
    -fx-font-size: 16;
}